# very annoying node modules
node_modules/
# others - no need to track builds as they are generated everytime we run npm run build
dist/
build/
build-student/

#others
.env
.env.local
.env.*.local

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npm

.eslintcache

.vite/
